absl-py==0.9.0
affine==2.3.0
agate==1.6.1
apache-beam==2.22.0
appnope==0.1.0
asn1crypto==1.3.0
astor==0.8.1
astroid==2.4.0
astunparse==1.6.3
attrs==19.3.0
audioread==2.1.8
autopep8==1.5.3
avro-python3==1.9.2.1
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
Babel==2.8.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.0
blingfire==0.0.15
bokeh==2.2.0
boto3==1.11.17
botocore==1.14.17
bz2file==0.98
CacheControl==0.12.6
cachetools==3.1.1
Cartopy==0.17.0
category-encoders==2.1.0
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.3.0
colorama==0.4.3
contextily==1.0rc2
crcmod==1.7
crepe==0.0.11
cryptography==2.8
cycler==0.10.0
dbt==0.16.0
dbt-bigquery==0.16.0
dbt-core==0.16.0
dbt-postgres==0.16.0
dbt-redshift==0.16.0
dbt-snowflake==0.16.0
decorator==4.4.1
defusedxml==0.6.0
Deprecated==1.2.7
descartes==1.1.0
dill==0.3.1.1
dm-sonnet==2.0.0
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
docutils==0.15.2
dopamine-rl==3.0.1
entrypoints==0.3
fastavro==0.23.4
fasteners==0.15
Fiona==1.8.13
Flask==1.0
fsspec==0.7.1
future==0.18.2
gast==0.4.0
gcsfs==0.6.1
geographiclib==1.50
geopandas==0.6.3
geoplot==0.4.0
geopy==1.21.0
gevent==20.6.2
gin-config==0.3.0
google-api-core==1.22.1
google-api-python-client==1.10.0
google-apitools==0.5.31
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.24.0
google-cloud-bigtable==1.0.0
google-cloud-core==1.3.0
google-cloud-datastore==1.7.4
google-cloud-dlp==0.13.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.0.2
google-cloud-spanner==1.13.0
google-cloud-storage==1.27.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-pasta==0.2.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
graphviz==0.14
greenlet==0.4.16
grpc-google-iam-v1==0.12.3
grpcio==1.28.1
grpcio-gcp==0.2.2
gunicorn==20.0.4
gym==0.17.2
h5py==2.10.0
hdfs==2.5.8
hmmlearn==0.2.3
hologram==0.0.5
httplib2==0.17.4
idna==2.8
ijson==2.6.1
imageio==2.8.0
importlib-metadata==1.5.0
inflection==0.4.0
intervaltree==3.1.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
jmetalpy==1.5.5
joblib==0.14.1
json-rpc==1.13.0
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
leather==0.3.3
librosa==0.7.2
llvmlite==0.31.0
Logbook==1.5.3
lxml==4.5.0
magenta==2.1.1
mapclassify==2.2.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
mccabe==0.6.1
mercantile==1.1.2
mesh-tensorflow==0.1.16
mido==1.2.6
minimal-snowplow-tracker==0.0.2
mir-eval==0.6
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==2.0.0
monotonic==1.5
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.2
munch==2.5.0
mysql-connector-python==8.0.19
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
nltk==3.3
note-seq==0.0.1
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
opencage==1.2
opencv-python==4.2.0.34
opt-einsum==3.2.0
oscrypto==1.2.0
OWSLib==0.18.0
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parsedatetime==2.5
parso==0.6.1
patsy==0.5.1
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.6.0
pluggy==0.13.1
pretty-midi==0.2.8
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.11.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
py==1.8.1
pyacoustid==1.1.7
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.19
pycryptodomex==3.9.7
pydot==1.4.1
pydub==0.23.1
pyepsg==0.4.0
pyglet==1.5.0
Pygments==2.5.2
pygtrie==2.3.3
PyJWT==1.7.1
pykdtree==1.3.1
pylint==2.5.0
pymongo==3.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypng==0.0.20
pyproj==1.9.6
pyrsistent==0.15.7
pyshp==2.1.0
PySocks==1.7.1
pytest==5.4.1
pytest-logbook==1.2.0
python-dateutil==2.8.1
python-dotenv==0.12.0
python-magic==0.4.15
python-rtmidi==1.1.2
python-slugify==4.0.0
pytimeparse==1.1.8
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==18.1.1
qtconsole==4.6.0
rasterio==1.1.2
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.6.4.post1
six==1.14.0
sk-video==1.1.10
snowflake-connector-python==2.2.1
snuggs==1.4.7
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
soupsieve==2.0
sox==1.4.0
sqlparse==0.3.1
statsmodels==0.11.1
sympy==1.6.2
tabulate==0.8.7
tensor2tensor==1.15.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-addons==0.11.1
tensorflow-datasets==3.2.1
tensorflow-estimator==2.3.0
tensorflow-gan==2.0.0
tensorflow-hub==0.9.0
tensorflow-metadata==0.23.0
tensorflow-probability==0.11.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
tf-slim==1.1.0
tifffile==2020.8.13
toml==0.10.1
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
typed-ast==1.4.1
typeguard==2.9.1
typing-extensions==3.7.4.1
unittest-xml-reporting==3.0.2
uritemplate==3.0.1
urllib3==1.25.8
vamp==1.1.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==2.2.0
zope.event==4.4
zope.interface==5.1.0
